<a href="guitars/new">New post</a>
<h1>Guitars</h1>
<hr>
<% @guitars.each do |guitar|%>
  <div class="content">
    <h3><%=guitar.name%></h3>
    <p><%=guitar.description[0..60]+"..."%></p>
    <a href="guitars/<%= guitar.id %>">Read more...</a>
    <hr>
  </div>
<% end %>
