<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="yieldedcontent">
      <%= yield %>
    </div>
    <footer>
      <img src="https://i.imgur.com/4L5yX2A.gif" alt="">
    </footer>
  </body>
</html>
