<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%= erb :'navbar'%><br>
    <div class="contentwrapper">
      <div class="yieldedcontent">
        <%= yield %>
      </div>
      <img src="https://i.imgur.com/4L5yX2A.gif" alt="">
    </div>
  </body>
</html>
